<div class="container-fluid" >
    <div class="userBio">
        <div class="row">
            <div class="col-xs-5 col-md-3">
                <img src="http://placehold.it/300x300" class="avatar img-responsive" />
            </div>
            <div class="col-xs-7 col-md-9"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 bio" ng-model="vm.bio">
                {{vm.bio}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
</div>