

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 " style="padding-right: 0;">
            <div class="">
                <table class="table table-bordered stats">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Potato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        <div class="col-xs-9 " style="padding-left: 0;">
            <div class="">
                <table class="table table-bordered stats">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Potato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $('.stats').on('scroll', function () {
        console.log('test');
        $('.stats:not(this)').scrollTop($(this).scrollTop());
    });
</script>